.feedbak_form{
    margin-top: 600px;
}
.form{
    margin-left: 50px;
    font-family: "Arial Nova";

}
.box{
    height: 160px;
    width: 55%;
    border: 5px solid #6ce2cf;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 7px;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 50px;
    font-weight: bold;
}
.box h3{
    font-family: "Arial Nova";
    margin-left: 0;
}
.right{
    margin-left: 100px;
}
.border{
    border: 4px solid grey;
    border-radius: 20px;
}
#in_name {
    margin-left: 10px;
}
#in_email{
    margin-left: 40px;

}
#in_phone {
    margin-left: 10px;
}
#in_date{
    margin-left: 27px;
    width: 153px;
}
.box_2 {
    margin-top: 20px;
}
.box-2 {
    max-height: 200px;
    max-width: 55%;
    border: 5px solid #6ce2cf;
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin-left: 50px;
}
.box_title {
    font-family: "Arial Nova";
    margin-left: 10px;

}
#in_message{
    float: right;
    padding-right: 20px;
    font-weight: bold;

}
#message{
    float: right;
    padding: 40px 50px;
    border-radius: 20px;
}
#div{
    margin-bottom: 100px;
}
.num{
    letter-spacing: 12px;
    font-weight: normal;
}
#multi_choice{
    margin-top: 8px;
    padding: 10px 50px;
}
.submit{
    padding: 10px 30px;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 80px;
}
#submit{
    margin-left: 50px;
    background-color: cyan;
}
#reset{
    margin-left: 10px;
    background-color: yellow;
}